<section>
    <div class="sideButtons">
        <div class="innerSideButtons">
            <p-button (click)="adicionarReceita=true" id="adicionar_saldo" label="Adicionar Saldo"></p-button>
            <p-button (click)="adicionarDespesa=true" id="adicionar_despesa" label="Adicionar Despesa"></p-button>
        </div>
    </div>

    <div class="sideData">
        <div class="innerSideData">
            <div class="valueAndData">
                <div class="valueDiv">
                    <h1 class="saldoTotal">Saldo Total: {{totalReceitas}}</h1>
                    <h1 class="despesaTotal">Despesa Total: {{totalDespesas}}</h1>
                </div>

                <div class="tableDiv">
                    <p-table [value]="receitas">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Receita</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-receita>
                            <tr (click)="openEntradaToUpdate(receita)">
                                <td class="receitaValues">R$ {{receita.entrada}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
    
                    <p-table [value]="despesas">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Despesas</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-despesa>
                            <tr (click)="openSaidaToUpdate(despesa)">
                                <td class="despesaValues">R$ -{{despesa.saida}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="graphic">
                <p-chart id="grafico" type="pie" [data]="data" [options]="options"></p-chart>
            </div>

        </div>
    </div>
</section>

<p-dialog (onHide)="onHideModal()" class="dialog" [(visible)]="adicionarReceita">    
    <p-header>
        <h1 *ngIf="createOrUpdateReceita">Editar Receita</h1>
        <h1 *ngIf="!createOrUpdateReceita">Adicionar Receita</h1>
    </p-header>
    <form class="innerDiv" [formGroup]="registerReceitaForm" (ngSubmit)="submitReceitas()">
        <p-inputNumber formControlName="entrada" placeholder="Entrada" class="inputReceita" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
        <p-button type="submit" class="submitReceita" label="Submit"></p-button>
    </form>
</p-dialog>

<p-dialog (onHide)="onHideModal()" class="dialog" [(visible)]="adicionarDespesa">
    <p-header>
        <h1 *ngIf="createOrUpdateDespesa">Editar Despesa</h1>
        <h1 *ngIf="!createOrUpdateDespesa">Adicionar Despesa</h1>
    </p-header>
    <form class="innerDiv" [formGroup]="registerDespesaForm" (ngSubmit)="submitDespesa()">
        <p-inputNumber formControlName="saida" placeholder="Saida" class="inputReceita" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
        <p-button type="submit" class="submitReceita" label="Submit"></p-button>
    </form>
</p-dialog>

<div class="loading-overlay" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>

