<section>
    <div class="sideButtons">
        <div class="innerSideButtons">
            <p-button (click)="adicionarReceita=true" id="adicionar_saldo" label="Adicionar Saldo"></p-button>
            <p-button (click)="adicionarDespesa=true" id="adicionar_despesa" label="Adicionar Despesa"></p-button>
        </div>
    </div>

    <div class="sideData">
        <div class="innerSideData">
            <div class="valueAndData">
                <div class="valueDiv">
                    <h1 class="saldoTotal">Saldo Total: {{totalReceitas}} R$</h1>
                    <h1 class="despesaTotal">Despesa Total: {{totalDespesas}} R$</h1>
                </div>

                <div class="tableDiv">
                    <p-tabView styleClass="tabview-custom">
                        <p-tabPanel>
                            <ng-template pTemplate="header">
                                <span>Receitas</span>
                            </ng-template>
                            <p-table [value]="receitas">
                                <ng-template pTemplate="body" let-receita>
                                    <tr>
                                        <p class="receitaValues">R$ {{receita.entrada}}</p>
                                        <div class="buttonDiv">
                                            <p-button (click)="openEntradaToUpdate(receita)" class="editButton" icon="pi pi-pencil"></p-button>
                                            <p-button (click)="deleteReceitaFn(receita.id)" class="deleteButton" icon="pi pi-times"></p-button>
                                        </div>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabPanel>
                        <p-tabPanel header="Header II">
                            <ng-template pTemplate="header">
                                <span>Despesas</span>
                            </ng-template>

                            <p-table [value]="despesas">
                                <ng-template pTemplate="body" let-despesa>
                                    <tr>
                                        <p class="despesaValues">R$ - {{despesa.saida}}</p>
                                        <div class="buttonDiv">
                                            <p-button (click)="openSaidaToUpdate(despesa)" class="editButton" icon="pi pi-pencil"></p-button>
                                            <p-button (click)="deleteDespesaFn(despesa.id)" class="deleteButton" icon="pi pi-times"></p-button>
                                        </div>
                                    </tr>
                                </ng-template>
                            </p-table>

                        </p-tabPanel>
                    </p-tabView>
                </div>
            </div>
            <div class="graphic">
                <p-chart id="grafico" type="pie" [data]="data" [options]="options"></p-chart>
            </div>

        </div>
    </div>
</section>

<p-dialog (onHide)="onHideModal()" class="dialog" [(visible)]="adicionarReceita">    
    <p-header>
        <h1 *ngIf="createOrUpdateReceita">Editar Receita</h1>
        <h1 *ngIf="!createOrUpdateReceita">Adicionar Receita</h1>
    </p-header>
    <form class="innerDiv" [formGroup]="registerReceitaForm" (ngSubmit)="submitReceitas()">
        <p-inputNumber formControlName="entrada" placeholder="Entrada" class="inputReceita" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
        <p-button type="submit" class="submitReceita" label="Submit"></p-button>
        <p-button *ngIf="createOrUpdateReceita" class="submitReceita" label="Delete"></p-button>
    </form>
</p-dialog>

<p-dialog (onHide)="onHideModal()" class="dialog" [(visible)]="adicionarDespesa">
    <p-header>
        <h1 *ngIf="createOrUpdateDespesa">Editar Despesa</h1>
        <h1 *ngIf="!createOrUpdateDespesa">Adicionar Despesa</h1>
    </p-header>
    <form class="innerDiv" [formGroup]="registerDespesaForm" (ngSubmit)="submitDespesa()">
        <p-inputNumber formControlName="saida" placeholder="Saida" class="inputReceita" inputId="locale-us" mode="decimal" locale="en-US" [minFractionDigits]="2"> </p-inputNumber>
        <p-button type="submit" class="submitReceita" label="Submit"></p-button>
        <p-button *ngIf="createOrUpdateDespesa" class="submitReceita" label="Delete"></p-button>
    </form>
</p-dialog>

<div class="loading-overlay" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>

