<section class="container">
    <h2>Cadastro</h2>

    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
        <input formControlName="name" class="registerInput" placeholder="Nome" pInputText/>

        <input formControlName="username" class="registerInput" placeholder="E-mail" pInputText/>

        <p-password formControlName="password" class="passwordInput" placeholder="Senha" [toggleMask]="true" [feedback]="false"></p-password>

        <input formControlName="telefone" class="registerInput" placeholder="Telefone" pInputText/>
        
        <p-button class="loginButton" type="submit" label="Cadastrar"></p-button>

        <p-button class="backButton" label="voltar" [routerLink]="['/login']"></p-button>
    </form>
    
</section>
<p-toast></p-toast>