@import "../../../../variables/variables.scss";

.container{
    width: 370px;
    height: 500px;
    background-color: $card-color;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (width < 375px){
    .container{
        width: 310px;
    }
}

.container h2{
    color: $white-color;
    font-size: 20px;
    margin: 5px 0;
    font-weight: bold;
}

.container form{
    width: 90%;
    height: 50%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container form .emailInput{
    width: 80%;
    color: $white-color;
    background-color: $card-color;
    
    &::placeholder{
        color: $white-color;
    }
}

.container form .passwordInput{
    width: 80%;
    ::ng-deep{
        .p-inputtext{
            color: $white-color;
            background-color: $card-color;
        }

        .p-component {
            width: 100%;
            border-radius: 4px;
            background-color: transparent;
            color: $white-color;
            outline: 0;
            font-size: 14px;

            &::placeholder{
                color: $white-color;
            }
        }

        .p-icon-wrapper {
            display: flex;
            color: $white-color;
            font-size: 14px;
            cursor: pointer;
            }
    }
}

.container form .loginButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    ::ng-deep{
        .p-button {
            width: 80%;
            background-color: $red-color;
            border: 1px solid $card-color;
        }
    }
}

.container .toRegister{
    font-size: 14px;
}

.container .toRegister .link{
    text-decoration: none;
    color: $red-color;

    &:hover{
        color: white;
    }
}