<section class="container">
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <input formControlName="username" class="emailInput" placeholder="E-mail" pInputText/>

        <p-password formControlName="password" class="passwordInput" placeholder="Senha" [toggleMask]="true" [feedback]="false"></p-password>
        
        <p-button class="loginButton" type="submit" label="Entrar"></p-button>
    </form>

    <h2 class="toRegister">Caso não tenha conta, <a class="link" href=""  [routerLink]="['/register']">Cadastre-se</a></h2>
    
</section>
<p-toast></p-toast>
<div *ngIf="showSpinner" class="center-spinner">
    <p-progressSpinner [style]="{ 'width': '80px', 'height': '80px' }"></p-progressSpinner>
</div>
